[submodule "bacnet"]
	path = bacnet
	url = https://github.com/mitre/bacnet.git
	branch = main
[submodule "modbus"]
	path = modbus
	url = https://github.com/mitre/modbus.git
	branch = main
[submodule "dnp3"]
	path = dnp3
	url = https://github.com/mitre/dnp3.git
	branch = main
[submodule "profinet"]
	path = profinet
	url = git@github.com:mitre/profinet.git
	branch = main
