[submodule "bacnet"]
	path = bacnet
	url = https://github.com/mitre/bacnet
	branch = main
[submodule "modbus"]
	path = modbus
	url = https://github.com/mitre/modbus
	branch = main
[submodule "dnp3"]
	path = dnp3
	url = https://github.com/mitre/dnp3
	branch = main
